<nav>
  <div class="container" id="nav_setting">
    <div class="navbar-header">
      <a href="/"> <%= image_tag "logo.png", width: 300 , height: 120 %> </a>
    </div>

    <ul class="nav navbar-nav navbar-right" id="nav_setting_right">
      <li><a href="/home/issue">ISSUE</a></li>
      <li><a href="/home/group">GROUP</a></li>
      <li><a href="/home/artist">ARTIST</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"> </i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>사용자</li>
            <li><a href="#">메세지</a></li>
            <li><a href="#">마이페이지</a></li>
            <li role="separator" class="divider"></li>

            <li>팔로우</li>
            <li><a href="#">김희천</a></li>
            <li><a href="#">유목연</a></li>
            <li role="separator" class="divider"></li>

            <li>그룹</li>
            <li><a href="#">옥인콜렉티브</a></li>
            <li><a href="#">INTERNET yami-ichi</a></li>
            <li><a href="#">서울익스프레스</a></li>
            <li role="separator" class="divider"></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>

<p> <%= link_to "이미지업로드", new_post_path , target: "_new" %> </p>


<p>
  <% if user_signed_in? %>
    <%= link_to('로그아웃', destroy_user_session_path, :method => :delete) %>
  <% end %>
</p>

<% @post.each do |p| %>
  <%= image_tag(p.image, size: "100x100", alt: "test") %>
<% end %>
