<div style="padding:80px;"> </div>

<section class="row">
  <section class ="col-md-1">
  <section class="col-md-2" style="margin-left:50px;">
    <% @user.each do |u| %>
      <% if u.id == params[:id].to_i %>
        <h3> <%= u.username %> </h3>
        <div style="padding:10px;"> </div>
        <h5> WORKS </h5>
        <% @work.each do |w| %>
          <p> <%= w.title %> </p>
        <% end %>

        <%= link_to "+" , new_work_path %>
        <h5> <a href="/blog/profile"> PROFILE </a> </h5>
        <h5> REVIEW </h5>
        <p> <%= u.email %> </p>
      <% end %>
    <% end %>
  </section>
</section>
