// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left_nav {
  width: 300px;
  padding: 30px;
}

.visited{
  color:black;
}
