// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery_image {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.82);
}

.gallery_image > :hover {
    opacity:0.2;
}

#nav_setting {
  fixed:position;
  left:0;
  top:0;
}


#nav_setting_right {
    padding-top: 40px;
    margin-right: 50px;
    padding-right: 30px;
}
