// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.make_group {
  width: 800px;
  border: 2px solid #eee;
  border-radius: 20px;
  background-color: #929292;
  font-size: 20px;
  color: white;
  padding:  15px;
  margin: 0 auto;
  margin-top: 100px;
}

// 그룹 생성 폼
.new_group > input {
  margin: 5px;
}

.group_new {
  text-decoration:none;
}

.group_show {
  width: 800px;
  height: 215px;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

.group_image {
  // margin: 10px;
  padding:5px;
  width: 200px;
  display: inline;
  float: left;
}

.group_info {
  width: 800px;
  height: 250px;
  // margin: 10px;
  display: inline-block;
}

.group_info > h1 {
  margin-bottom: 30px;
}

.group_info > h1 , p{
  // display: inline;
  width: 200px;
}

.group_info > .btn-default {
  float: right;
}

.info_head {
  width: 580px;
  float: right;
  margin-top: 10px;
}

.info_head > h1 , p {
  display: inline;
}

.info_head > p {
  width: 100px;
  float: right;
}

<<<<<<< HEAD
.info_body {
  margin-top:50px;
  width: 580px;

}

#current-num{
=======
#current-num {
>>>>>>> 30f05d3e8c5dd15f7936c39830a5ef1af0582027
  width: 80px;
  display: inline-block;
  // margin-left: px;
}

#max-num {
    width: 80px;
    display: inline-block;
  //  margin-left: 320px;
}



.form-control {
  padding: 20px 15px;
  font-size: 13px;
  margin-bottom: 8px;
}


#register-id {
  height: 40px;
  width: 80px;
  background-color: #65C2C4;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  margin-left: 320px;

}

#file-upload {
 background-color:  #65C2C4;
 opacity: 0.6;

}


.numbox {
  float:right;
}
