// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_info {
  width: 800px;
  display: inline-block;
}

.profile_info > p {
  display: block;

}
.left_nav {
  display: inline-block;
}

#key-color{
  color:#0AF0DE;
  margin-left: 5px;
}

.mouse_control:hover{
  color:black;
  text-decoration: none;
}

.edit {
	background-color: rgba(63, 113, 128, 0.36);
	border-radius:3px;
}

.delete {
	background-color: rgba(63, 113, 128, 0.36);
	border-radius:3px;
}