// Place all the styles related to the work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_work {
  width: 500px;
  margin: 0 auto;
  padding-top: 100px;
}

#work_submit {
  float: right;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.57);
  color: white;
}

.work_info {
  width: 800px;
  display: inline-block;
}

.work_info > p {
  display: block;

}
.left_nav {
  display: inline-block;
}
