<div style="width: 400px;margin: 0 auto; padding-top: 150px;">
  <%= form_for @profile, url: {action: "create"} , class: "form-group" do |f| %>
    <%= f.text_area :content, size: "25x10", class: "form-control", placeholder: "내용"%>
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <div class="padding-10"> </div>
    <%= f.submit "제출" , class: "form-control" %>
  <% end %>
</div>
